body {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  background-color: #24292E;
  line-height: 1;
  color: #FFFFFF;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}
h1 {
  color: #FFFFFF;
}
h2 {
  color: #FFFFFF;
  font-size:40px;
}
h3 {
  color: #AAAEBC;
  font-size:16px;
}
table {
  border-collapse: collapse;
  width: 70%;
  margin:30px auto;
}
td, th {
  border: 1px solid #444857;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #444857;
}
.container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 10px;
}
.box {
  background-color:#444857;
  justify-content: center;
  border: 2px solid #AAAEBC;
  font-size: 3em;
}
.key {
  display: flex;
  align-items: center;
  justify-content: center;
}
#keyDesc {
  color: #AAAEBC;
  font-size: 72px;
}
#more {
  display: none;
}
